# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
*.pmd linguist-detectable=true
**/*.pmd linguist-language=xml
*.inf linguist-detectable=true
**/*.ing linguist-language=csv
